.banner-text{
    text-align: center;
    margin:95px 0 61PX;;
}
.banner-text h2{
    font-size:36px;
    font-weight:500;
}
.banner-text p{
    font-size:16px;
    font-weight:400;
    color:#757575;
    margin-top:17px;
}

.item-imgs ul {
    display:flex;
    gap:12px;
    align-items: center;
}