/* 첫째줄 */
.items-list .item:first-child .img-box .color3 {
    background: #E9BD9A;
    right: 4.5rem;
    top: 40.5rem;
    transform: translateY(0);
    transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.1s, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.items-list .item:first-child .img-box:hover {
    background-color: #eee;
}

.items-list .item:first-child .img-box:hover div {
    top: 32.5rem;
}


.items-list .item:nth-child(2) .img-box .color3 {
    background: #EEBFA5;
    right: 4.5rem;
    top: 40.5rem;
    transform: translateY(0);
    transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.1s, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.items-list .item:nth-child(2) .img-box:hover {
    background-color: #eee;
}

.items-list .item:nth-child(2) .img-box:hover div {
    top: 32.5rem;
}


.items-list .item:nth-child(3) .img-box .color2 {
    background: #D9AB87;
    right: 7rem;
    top: 38.5rem;
    transform: translateY(0);
    transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.1s, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.items-list .item:nth-child(3) .img-box .color3 {
    background: #E5B692;
    right: 4.5rem;
    top: 40.5rem;
    transform: translateY(0);
    transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.1s, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.items-list .item:nth-child(3) .img-box:hover {
    background-color: #eee;
}

.items-list .item:nth-child(3) .img-box:hover div {
    top: 32.5rem;
}

/* 둘째줄 */
.items-list .item:nth-child(5) .img-box .color1 {
    background: #ED8784;
    right: 9.3rem;
    top: 36.5rem;
    transform: translateY(0);
    transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.1s, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.items-list .item:nth-child(5) .img-box .color2 {
    background: #C7747C;
    right: 7rem;
    top: 38.5rem;
    transform: translateY(0);
    transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.1s, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.items-list .item:nth-child(5) .img-box .color3 {
    background: #9A5B55;
    right: 4.5rem;
    top: 40.5rem;
    transform: translateY(0);
    transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.1s, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.items-list .item:nth-child(5) .img-box:hover {
    background-color: #eee;
}

.items-list .item:nth-child(5) .img-box:hover div {
    top: 32.5rem;
}

.items-list .item:nth-child(6) .img-box .color1 {
    background: #F1BC92;
    right: 9.3rem;
    top: 36.5rem;
    transform: translateY(0);
    transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.1s, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.items-list .item:nth-child(6) .img-box .color2 {
    background: #E9B585;
    right: 7rem;
    top: 38.5rem;
    transform: translateY(0);
    transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.1s, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.items-list .item:nth-child(6) .img-box .color3 {
    background: #E3A67A;
    right: 4.5rem;
    top: 40.5rem;
    transform: translateY(0);
    transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.1s, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.items-list .item:nth-child(6) .img-box:hover {
    background-color: #eee;
}

.items-list .item:nth-child(6) .img-box:hover div {
    top: 32.5rem;
}

.items-list .item:nth-child(7) .img-box .color2 {
    background: #DA9E79;
    right: 7rem;
    top: 38.5rem;
    transform: translateY(0);
    transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.1s, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.items-list .item:nth-child(7) .img-box .color3 {
    background: #9E6341;
    right: 4.5rem;
    top: 40.5rem;
    transform: translateY(0);
    transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.1s, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.items-list .item:nth-child(7) .img-box:hover {
    background-color: #eee;
}

.items-list .item:nth-child(7) .img-box:hover div {
    top: 32.5rem;
}

.items-list .item:nth-child(8) .img-box .color1 {
    background: #A56370;
    right: 9.3rem;
    top: 36.5rem;
    transform: translateY(0);
    transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.1s, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.items-list .item:nth-child(8) .img-box .color2 {
    background: #D47B6E;
    right: 7rem;
    top: 38.5rem;
    transform: translateY(0);
    transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.1s, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.items-list .item:nth-child(8) .img-box .color3 {
    background: #D7838F;
    right: 4.5rem;
    top: 40.5rem;
    transform: translateY(0);
    transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.1s, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.items-list .item:nth-child(8) .img-box:hover {
    background-color: #eee;
}

.items-list .item:nth-child(8) .img-box:hover div {
    top: 32.5rem;
}
/* .items-list .item:first-child .img-box {

    .color1 {
        
        background: #701224;
        right: 9.3rem;
        top: 36.5rem;
        transform: translateY(0);
        transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.1s, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .color2 {
        
        background: blue;
        right: 7rem;
        top: 38.5rem;
        transform: translateY(0);
        transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.1s, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .color3 {
        
        background: #e9bd9a;
        right: 4.5rem;
        top: 40.5rem;
        transform: translateY(0);
        transition: top 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.1s, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    }

    :hover {
        background-color: #eee;
    }

    :hover div {
        top: 32.5rem;
    }
} */